---
Language: Cpp
Standard: Latest
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Allman
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"'
    Priority: 4
  - Regex: '^<cnt/.*\.h>'
    Priority: 3
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
...
